<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} [service=%X{serviceName}] [rootService=%X{rootService}] - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="io.undertow" level="info" />
    <logger name="io.swagger" level="info" />
    <logger name="org.jboss" level="info" />
    <logger name="org.mongodb.driver" level="warn" />
    <logger name="org.xnio.nio" level="error" />
    <logger name="org.janelia.jacs2.asyncservice.common" level="info" />
    <logger name="org.janelia.jacs2.dataservice.persistence" level="info" />
    <logger name="org.janelia.cluster" level="info" />

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
